
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Mina');

.aboutme {
	text-align: center;
	overflow: auto;
	flex-grow: 1;

	color: white;

	font-family: Orbitron;

	background-color: #560556;
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(apps/aboutme.exe/background.jpg);
	background-position: center;
	background-size: cover;
}

.aboutme a {
	color: white;
}

.aboutme p {
	font-family: Mina;
}

.aboutme hr {
	width: 60%;
}

.aboutme h1 {
	margin-top: 4px;
	margin-bottom: 0px;
}

.aboutme > .me-img {
	height: 140px;
}

.aboutme > .info {
	text-align: center;
}

.aboutme > .info > .major {
	display: block;
}

.aboutme > .info > .school {
	display: block;
}

.aboutme > .info > .class-year {
	display: block;
}



/*========= LINKS =========*/

.aboutme .links-formal {
	margin-top: 10px;
}

.aboutme .links-formal a {
	margin-left: 1em;
	margin-right: 1em;
	color: white;
	font-weight: bold;
}

.aboutme .links-general {
	margin-top: 10px;
}

.aboutme .links-general a {
	display: inline-block;
	color: white;

	width: 40px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;

	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.aboutme .links-general .github {
	background-image: url(apps/aboutme.exe/github.png);
}

.aboutme .links-general .twitter {
	background-image: url(apps/aboutme.exe/twitter.png);
}

.aboutme .links-general .patreon {
	background-image: url(apps/aboutme.exe/patreon.png);
}



/*========= WORK EXPERIENCE =========*/

.aboutme .work-experience {
	text-align: left;
}



/*========= PERSONAL PROJECTS =========*/

.aboutme .personal-projects {
	text-align: left;
}



.aboutme h2 {
	text-align: center;
}

.aboutme ul {
	font-size: 14px;
}

.aboutme h3 {
	font-size: 16px;
}
