
.aboutme {
	text-align: center;
}

.aboutme > h1 {
    margin-top: 4px;
    border-bottom: 1px solid;
}

.aboutme > .me-img {
	height: 140px;
}

.aboutme > .info > .major {
	display: block;
}

.aboutme > .info > .school {
	display: block;
}

.aboutme > .info > .class-year {
	display: block;
}