
#kernel {
	position: absolute;
	font-family: sans-serif;
	font-size: 12px;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -200;

	overflow: hidden;

	color: white;
	background-color: black;

	vertical-align: bottom;
}
