
html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	overflow: hidden;
}



/*========= BOOT LOGS =========*/

.bootlog {
	position: absolute;

	width: 100%;
	height: 100%;
	
	overflow: hidden;
	font-family: sans-serif;
	font-size: 12px;

	background-color: black;
	color: white;

	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}



/*========= CRT MONITOR =========*/

.crt-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.crt {
	position: relative;
}

.crt-bg {
	display: block;
	pointer-events: none;
	user-select: none;
}

@media (min-aspect-ratio: 640/427), (aspect-ratio: 640/427) {
	.crt-container {
		width: 100%;
		height: 100%;
		flex-direction: row;
	}
	.crt {
		height: 100%;
		width: auto;
	}
	.crt-bg {
		height: 100%;
	}
}

@media (max-height: 600px) and (min-aspect-ratio: 640/427), (aspect-ratio: 640/427) {
	.crt {
		height: 120%;
	}
}

@media (max-aspect-ratio: 640/427) {
	.crt-container {
		width: 100%;
		height: 100%;
		flex-direction: column;
	}
	.crt {
		width: 100%;
		height: auto;
	}
	.crt-bg {
		width: 100%;
	}
}

@media (max-width: 480px) and (max-aspect-ratio: 640/427) {
	.crt {
		width: 150%;
	}
}

.crt-screen {
	position: absolute;
	left: 23.9%;
	top: 22.9%;
	right: 28.4%;
	bottom: 23%;

	background-color: black;
	overflow: hidden;
	
	transform: rotateX(6deg) rotateY(0.5deg) rotateZ(0.1deg);
}

.crt-screen-content {
	position: absolute;
	display: block;
	overflow: hidden;

	border-radius: 5px;
	left: 4px;
	top: 4px;
	right: 4px;
	bottom: 4px;
}

@keyframes crt-noise {
	0% {
		transform: translateX(0px,0px);
	}
	10% {
		transform: translate(-100px, 100px);
	}
	20% {
		transform: translate(150px, -100px);
	}
	30% {
		transform: translate(-100px,100px);
	}
	40% {
		transform: translate(100px, -150px);
	}
	50% {
		transform: translate(-100px, 200px);
	}
	60% {
		transform: translate(-200px, -100px);
	}
	70% {
		transform: translateY(50px, 100px);
	}
	80% {
		transform: translate(100px, -150px);
	}
	90% {
		transform: translate(0px, 200px);
	}
	100% {
		transform: translate(-100px, 100px);
	}
}

@keyframes crt-turn-on {
	0% {
		transform: scale(0.001,0.0001) translate3d(0,0,0);
		-webkit-filter: brightness(400%);
		filter: brightness(400%);
	}
	40% {
		transform: scale(1.2,0.01) translate3d(0,0,0);
		-webkit-filter: brightness(350%);
		filter: brightness(350%);
	}
	60% {
		transform: scale(1.3,0.05) translate3d(0,0,0);
		-webkit-filter: brightness(250%);
		filter: brightness(250%);
	}
	80% {
		transform: scale(1,1.4) translate3d(0,0,0);
		-webkit-filter: brightness(200%);
		filter: brightness(200%);
		opacity: 1;
	}
	100% {
		transform: scale(1,1) translate3d(0,0,0);
		-webkit-filter: brightness(100%);
		filter: brightness(100%);
		opacity: 1;
	}
}

.crt-effects {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
}

.crt-scanlines {
	position: absolute;
	z-index: 9998;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.4;
	background-image: linear-gradient(#ccc 1px, transparent 1px);
	background-size: 20px 4px;
	box-shadow: inset 0 0 8px 5px black;
}

.crt-static-overlay {
	position: absolute;
	z-index: 9999;
	left: -500px;
	right: -500px;
	top: -500px;
	bottom: -500px;
	opacity: 0.6;
	background: transparent url(lib/transcend32.dll/noise.png) 0 0;
	animation: crt-noise 1s steps(8,end) infinite both;
}

.crt-screen-content {
	overflow: hidden;
	animation: crt-turn-on 0.55s cubic-bezier(0.755, 0.050, 0.855, 0.060);
	animation-fill-mode: both;
	animation-delay: 0.6s;
}



/*========= EFFECTS / ANIMATIONS =========*/

@keyframes ghost-text-shadow {
	0% {
		text-shadow: -1px -1px 4px black;
	}
	20% {
		text-shadow: 0.63px -1.96px 4px black;
	}
	40% {
		text-shadow: 2.4px -0.64px 4px black;
	}
	60% {
		text-shadow: 1.28px 2.11px 4px black;
	}
	80% {
		text-shadow: -1.55px 1.97px 4px black;
	}
	100% {
		text-shadow: -1px -1px 4px black;
	}
}

@keyframes ghost-drop-shadow {
	0% {
		filter: drop-shadow(-1px -1px 4px black);
	}
	20% {
		filter: drop-shadow(0.63px -1.96px 4px black);
	}
	40% {
		filter: drop-shadow(2.3px -0.64px 4px black);
	}
	60% {
		filter: drop-shadow(0.88px 2.11px 4px black);
	}
	80% {
		filter: drop-shadow(-1.55px 1.97px 4px black);
	}
	100% {
		filter: drop-shadow(-1px -1px 4px black);
	}
}

@keyframes ghost {
	0% {
		transform: translate(-4px, 3px);
	}
	10% {
		transform: translate(8px, 1px);
	}
	30% {
		transform: translate(-4px, -4px);
	}
	50% {
		transform: translate(4px, 8px);
	}
	60% {
		transform: translate(-2px, 8px);
	}
	70% {
		transform: translate(2px, 6px);
	}
	80% {
		transform: translate(-4px, -4px);
	}
	90% {
		transform: translate(-2px, 4px);
	}
	100% {
		transform: translate(-4px, 3px);
	}
}

@keyframes small-ghost {
	0% {
		transform: translate(-1px, 2px);
	}
	10% {
		transform: translate(4px, 0.5px);
	}
	30% {
		transform: translate(-2px, -2px);
	}
	50% {
		transform: translate(2px, 4px);
	}
	60% {
		transform: translate(-1px, 4px);
	}
	70% {
		transform: translate(1px, 3px);
	}
	80% {
		transform: translate(-2px, -2px);
	}
	90% {
		transform: translate(-1px, 2px);
	}
	100% {
		transform: translate(-1px, 2px);
	}
}

.file .filename {
	animation: ghost-text-shadow 1.8s linear infinite;
}

.ghost {
	opacity: 0.4;
	animation: ghost 12s ease-out infinite;
}

.icon > .ghost {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	padding: inherit;

	background-image: inherit;
	background-repeat: inherit;
	background-position: inherit;
	background-size: inherit;

	animation-delay: 1s;
	animation: small-ghost 12s ease-out infinite;
}

.file > .icon > .ghost {
	width: 100%;
}

.start-button > .icon > .ghost {
	height: 100%;
}

iframe.ghost {
	animation: ghost 12s linear infinite;
}



/*========= ICONS =========*/

.file {
	display: inline-block;
	position: absolute;
	
	width: 64px;

	font-family: sans-serif;
	font-size: 12px;

	color: white;
	text-align: center;

	cursor: pointer;
	user-select: none;
}

.file > .icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50%;

	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;
}

.file .filename {
	display: block;
	margin-left: auto;
	margin-right: auto;

	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	overflow-wrap: normal;
}

.file:active, .file.selected {
	filter: brightness(.5) sepia(100%) hue-rotate(180deg) saturate(8);
}

.file:active .filename, .file.selected > .filename {
	color: #b2fcff;
	background: #0080cb;

	outline-color: rgba(0,0,0,.8);
	outline-style: dotted;
	outline-width: 1px;
	outline-offset: -1px;
	
	max-width: none;
	overflow: initial;
	text-overflow: initial;
	word-wrap: break-word;
}

.file-txt > .icon {
	background-image: url(lib/shell32.dll/images/icons/txt.png);
}



/*========= DESKTOP =========*/

.desktop {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.icon-grid {
	flex-grow: 1;
}

.wallpaper-container {
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.wallpaper {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-color: red;
	text-align: center;
}

@media (min-aspect-ratio: 640/360), (aspect-ratio: 640/360) {
	.wallpaper-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	iframe.wallpaper {
		width: 100%;
		height: 800%;
	}
}

@media (max-aspect-ratio: 640/360) {
	.wallpaper-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	iframe.wallpaper {
		height: 100%;
		width: 800%;
	}
}



/*========= WINDOW MANAGER =========*/

.window-manager {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	pointer-events: none;
}

.window {
	position: absolute;
	display: inline-block;
	background-color: white;
	pointer-events: initial;

	border: 2px solid;
	padding: 2px;
	border-bottom-color: #535353;
	border-right-color: #535353;
	border-left-color: #dbdbdb;
	border-top-color: #dbdbdb;
	background-color: #bfbfbf;
}

.window.minimized {
	display: none;
	opacity: 0;
}

@keyframes rainbow-titlebar {
	0% {
		background-position: 0% 50%;
		background-repeat: repeat;
	}
	100% {
		background-position: 200% 50%;
		background-repeat: repeat;
	}
}

.window-title-bar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	background: linear-gradient(-45deg, #E73C7E, #25ea2f, #441adb, #5EECFF, #E73C7E);
	background-size: 200% 200%;
	animation: rainbow-titlebar 7s linear infinite;

	padding: 2px 4px 3px 4px;
	font-size: 13px;
}

.window-title-bar > .title {
	color: white;

	flex-grow: 1;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	user-select: none;
}

.window-title-bar > .window-buttons {
	flex: none;
}

.window-title-bar > .window-buttons > button {
	width: 18px;
	height: 18px;
	font-size: 12px;

	border: 2px solid;
	border-top-color: #a6a6a6;
    border-left-color: #a6a6a6;
    border-bottom-color: #2b2800;
	border-right-color: #2b2800;
    background-color: #bfbfbf;
}

.window-title-bar > .window-buttons > button:active {
	border-top-color: #2b2800;
    border-left-color: #2b2800;
    border-bottom-color: #a6a6a6;
	border-right-color: #a6a6a6;
}

.window-title-bar > .window-buttons > button::before {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.window-button-minimize::before {
	content: '-';
}

.window-button-maximize::before {
	content: '□';
}

.window-button-close::before {
	content: 'X';
}



/*========= TASKBAR =========*/

.taskbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 26px;

	background-color: silver;
	border-top: ridge 2px white;
}

.start-button {
	height: 90%;
	width: 56px;
	padding: 0;
	margin: 0;

	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5%;
	margin-bottom: 5%;

	padding-left: 16px;
	padding-top: 1px;

	font-weight: bold;
	font-size: 12px;
	color: black;

	border-top-color: #a6a6a6;
    border-left-color: #a6a6a6;
    border-bottom-color: #2b2800;
	border-right-color: #2b2800;

	background-image: url(lib/shell32.dll/images/apple-icon.png);
	background-repeat: no-repeat;
	background-position-x: 4px;
	background-position-y: center;
	background-size: auto 80%;
}

.start-button:active {
	border-top-color: #2b2800;
    border-left-color: #2b2800;
    border-bottom-color: #a6a6a6;
	border-right-color: #a6a6a6;
}

.taskbar-windows {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	flex-shrink: 1;
	overflow-x: auto;
}

.taskbar-window {
	border: 2px solid;

	border-top-color: #2b2800;
    border-left-color: #2b2800;
    border-bottom-color: #a6a6a6;
	border-right-color: #a6a6a6;

	margin-left: 2px;
	margin-right: 2px;

	text-align: left;
	flex-basis: 128px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;

	user-select: none;
}

.taskbar-window.minimized {
	border-top-color: #a6a6a6;
    border-left-color: #a6a6a6;
    border-bottom-color: #2b2800;
	border-right-color: #2b2800;
}
