
.terminal-content {
	flex-grow: 1;

	background-color: black;
	color: white;
	font-size: 12px;

	width: 100%;
	height: 100%;
	overflow: auto;
}

.terminal-content textarea.shell-input {
	resize: none;
	height: 14px;
	background-color: black;
	color: white;
	border: 0;
	margin: 0;

	display: inline;
	vertical-align: bottom;
	overflow: hidden;
	width: 1em;
}

.terminal-content textarea.shell-input:focus {
	border: 0;
	box-shadow: none;
	outline: none;
}
